.board {
  position: relative;
  overflow: auto;
  height: calc(100vh - 49px);
  max-height: 800px;
  font-family: sans-serif;
  border-radius: 20px;
  text-align: center;
  background-color: #795f5e;
  background-image: url("../media/wood-pattern.png");
}

.upperBoard {
  position: relative;
  height: calc(100% - 180px);
}

.lowerBoard {
  position: relative;
  height: 180px;
}

@media only screen and (max-height: 600px) {
.upperBoard { height: calc(100% - 130px); }
.lowerBoard { height: 130px; }
}

@media only screen and (min-height: 700px) {
.upperBoard { height: calc(100% - 280px); }
.lowerBoard { height: 280px; }
}

.trumpSuit {
  position: absolute;
  top: 1em; left: 1em;
  width: 100px; height: 150px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 15px;
  overflow: hidden;
}

@media only screen and (max-width: 850px) {
  .trumpSuit {
    top: auto; bottom: -1em;
    left: 10px;
  }
  .trumpSuit .cardContainer {
    transform: translate(-50%, 0) scale(0.2) rotate(-90deg);
  }
}

.trumpSuit span:first-child {
  position: absolute;
  top: 3px; left:0; right: 0;
  text-align: center;
  white-space: nowrap;
}

.trumpSuit .cardContainer {
  position: absolute;
  left: 50%; top: 25px;
  transform-origin: 0 0;
  transform: translate(-50%, 0) scale(0.22);
  width: 70px;
  box-shadow: rgb(0, 0, 0) 0px 0px 50px;
}

.cardsOuvert {
  position: absolute;
  top: 1em;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, 0);
}

.cardsOuvert .cardContainer {
  display: inline-block;
  transform-origin: 0 0;
  transform: scale(0.2);
  width: 20px;
  box-shadow: rgb(0, 0, 0) 0px 0px 10px;
}

.cardsOuvert:hover {
  z-index: 10000;
}

.buttonBar {
  position: absolute;
  bottom: 95px;
  left: 50%;
  transform: translate(-50%, 0);
  line-height: 40px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.buttonBar:after {
  content: '';
  position: absolute;
  bottom: 0; left: calc(50% - 10px);
  width: 0; height: 0;
  border: 20px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom: 0;
  margin-bottom: -20px;
}

.buttonBar.suits {
  height: 100px;
  min-width: 300px;
}

.buttonBar.below {
  bottom: -95px;
}

.buttonBar.below:after {
  bottom: auto; top: 0;
  border: 20px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.5);
  border-top: 0;
  margin: -20px auto 0 auto;
}

.buttonBar .cardContainer {
  cursor: pointer;
  display: inline-block;
  transform-origin: 0 0;
  transform: scale(0.2);
  width: 70px;
  box-shadow: rgb(0, 0, 0) 0px 0px 50px;
}

.buttonBar .cardContainer:hover {
  box-shadow: rgb(197, 255, 5) 0px 0px 50px;
}

.buttonBar .question {
  position: absolute;
  top: 0; left: 50%;
  transform: translate(-50%, -150%);
  width: 450px; height: 25px;
  line-height: 25px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  margin: 10px auto;
}
