.board {
  position: relative;
  overflow: auto;
  height: calc(100vh - 49px);
  max-height: 800px;
  font-family: sans-serif;
  font-size: 2vh;
  border-radius: 20px;
  text-align: center;
  background-color: #795f5e;
  background-image: url("../media/wood-pattern.png");
}

.upperBoard {
  position: relative;
  height: calc(100% - 180px);
}

.lowerBoard {
  position: relative;
  height: 180px;
}

@media only screen and (max-height: 600px) {
.upperBoard { height: calc(100% - 130px); }
.lowerBoard { height: 130px; }
}

@media only screen and (min-height: 700px) {
.upperBoard { height: calc(100% - 280px); }
.lowerBoard { height: 280px; }
}

.trumpSuit {
  position: absolute;
  bottom: -1em; left: 0.9em;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 0.9em;
  overflow: hidden;
}

.trumpSuit span:first-child {
  display: block;
  padding-top: 3px;
  text-align: center;
  white-space: nowrap;
}

.trumpSuit .arrangeCard {
  margin: 0.5em auto;
  width: 70px;
  box-shadow: rgb(0, 0, 0) 0px 0px 50px;
}

.trumpSuit .cropCard {
  height: 107px;
  width: 70px;
  overflow: hidden;
}

.trumpSuit .scaleCard {
  transform-origin: 0 0;
  transform: scale(0.22);
}

.cardsOuvert {
  position: absolute;
  top: 1em;
  right: 50px;
  white-space: nowrap;
}

.cardsOuvert.left {
  right: auto; left: 10px;
}

.cardsOuvert .cardContainer {
  display: inline-block;
  transform-origin: 0 0;
  transform: scale(0.2);
  width: 20px;
  box-shadow: rgb(0, 0, 0) 0px 0px 10px;
}

.cardsOuvert:hover {
  z-index: 10000;
}

.buttonBar {
  position: absolute;
  bottom: 95px;
  left: 50%;
  transform: translate(-50%, 0);
  line-height: 40px;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.buttonBar:after {
  content: '';
  position: absolute;
  bottom: 0; left: calc(50% - 10px);
  width: 0; height: 0;
  border: 20px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom: 0;
  margin-bottom: -20px;
}

.buttonBar.suits {
  height: 100px;
  min-width: 300px;
}

.buttonBar.below {
  bottom: -95px;
}

.buttonBar.below:after {
  bottom: auto; top: 0;
  border: 20px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.5);
  border-top: 0;
  margin: -20px auto 0 auto;
}

.buttonBar .cardContainer {
  cursor: pointer;
  display: inline-block;
  transform-origin: 0 0;
  transform: scale(0.2);
  width: 70px;
  box-shadow: rgb(0, 0, 0) 0px 0px 50px;
}

.buttonBar .cardContainer:hover {
  box-shadow: rgb(197, 255, 5) 0px 0px 50px;
}

.buttonBar .question {
  position: absolute;
  top: 0; left: 50%;
  transform: translate(-50%, -150%);
  width: 22em; height: 1.25em;
  line-height: 1.25em;
  font-size: 1.4em;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.25em;
  margin: 0.5em auto;
}
