.playerHand {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
  overflow-x: auto;
  z-index: 10;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px 0 0;
  text-align: center;
  height: 100%;
  white-space: nowrap;
}

.playerHand .cardContainer {
  display: inline-block;
  width: 34px;
  text-align: center;
  transform-origin: 0 0;
  transform: scale(0.34);
  padding: 0;
}
