
.playerZone {
  position: absolute;
}

.i1 { bottom: 0; left: 50%; transform: translate(-50%,0); }
.i2 { top: 40%; left: 20px; transform: translate(0, 50%); }
.p3.i3 { top: 40%; right: 20px; transform: translate(0, 50%); }

@media only screen and (max-height: 600px) {
.i2, .p3.i3 { top: 10%; }
}
@media only screen and (max-width: 850px) {
  .playerZone.i2 { top: 20%; left: 20px; transform: translate(-50%, 100%) rotate(90deg); }
  .p3.i3 { top: 20%; right: 20px; transform: translate(50%, 100%) rotate(-90deg); }
}

@keyframes pulse {
  0% {box-shadow: rgb(255, 255, 255) 0px 0px 20px;}
  50% {box-shadow: rgb(255, 255, 255) 0px 0px 40px;}
  100% {box-shadow: rgb(255, 255, 255) 0px 0px 20px;}
}

.playerZone.active .statuses {
  animation: pulse 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.playerZone.active.thisPlayer .statuses {
  animation: none;
}

.playerZone .playerName {
  text-align: center;
}

.playerZone .statuses {
  color: #fff;
  text-align: left;
  cursor: default;
  background-color: rgb(0 0 0 / 50%);
  padding: 5px;
  width: 160px;
  height: 40px;
}

.playerZone .statuses span.score {
  float: right;
}

.playerZone .statuses span {
  font-weight: bold;
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "NotoColorEmoji", 
               "Segoe UI Symbol", "Android Emoji", "EmojiSymbols", 
               "EmojiOne Mozilla";
  margin-right: 0.2em;
  float: left;
}

.playerZone.thisPlayer.active .statuses span.active {
  display: block;
  position: absolute;
  right: 0; top: 50%;
  transform-origin: 100% center;
  transform: translate(0, -50%) scale(4) translate(120%, 0);
  padding: 3px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: radial-gradient(#fff, transparent 80%);
}

@media only screen and (max-width: 850px) {
  .playerZone.thisPlayer.active .statuses span.active {
    right: 50%; top: 0;
    transform-origin: 0;
    transform: translate(-50%, -50%) scale(4) translate(0, -55%);
  }
}

.playerZone .bidStatus {
  position: absolute;
  top: 0; left: 0; right: 0;
  transform: translate(0, -100%);
  font-size: 0.9em;
}

.playerZone .bidStatus div {
  background-color: #0a0;
  color: #fff;
}

.playerZone .bidStatus .pass {
  background-color: #a55;
}
