/*

:root {
    --gray: #50514F;
    --red: #F25F5C;
    --yellow: #FFE066;
    --blue: #247BA0;
    --green: #70C1B3;

    --blue-team--background-color: var(--blue);
    --red-team--background-color: var(--red);
    --unassigned--background-color: var(--yellow);
    --team-title--color: #fff;

    --blue-card--background-color: var(--blue);
    --red-card--background-color: var(--red);
    --civilian-card--background-color: beige;
    --assassin-card--background-color: var(--gray);

    --box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    --box-shadow-md: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
}

*/