.DesktopPanelWrapper {
  padding: 8px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgb(207, 207, 207);
  height: 100%;
  width: 250x;
  z-index: 9999;
}

.MobilePanelWrapper {
  padding: 8px;
}