@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(0.95);
    opacity: 1;
  }
  100% {
    transform: scale(0.85);
  }
}

@keyframes bounceInSmall {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.Card {
  position: relative;
  display: inline-block;
  float: left;
  cursor: pointer;
}

.Card img {
  animation: bounceIn 1.5s;
  max-width: 75px;
}

.CardSmall {
  position: relative;
  display: inline-block;
  float: left;
}

.CardSmall img {
  animation: bounceInSmall 1s;
  max-width: 50px;
}

.Hand {
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  width: 100%;
  min-height: 105px;
}

.HandTopBar {
  clear: both; 
  margin: 4px 8px;
  display: flex; 
  align-items: center;
  justify-content: space-between;
  min-height: 30px;
}

.PlayerInfoTopBar {
  clear: both;
  margin: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PlayedCards {
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  width: 100%;
  min-height: 70px;
}
