{
  "presets": ["next/babel"],
  "plugins": ["@babel/plugin-syntax-dynamic-import"],
  "env": {
    "production": {
      "plugins": ["babel-plugin-jsx-remove-data-test-id"],
      "presets": [["minify", { "builtIns": false }]]
    },
    "development": {
      "plugins": ["styled-jsx/babel-test", "istanbul"],
      "compact": false
    },
    "test": {
      "plugins": ["styled-jsx/babel-test"],
      "compact": false
    },
    "cypress": {
      "plugins": ["istanbul"],
      "compact": false
    },
    "unoptimized": {
      "compact": false
    }
  }
}
