# Always checkout with LF, even on Windows (otherwise linter, CI break)
* text eol=lf

# Excludes
*.png binary
*.jpg binary
*.xcf binary
*.jar binary
*.mp3 binary
*.gif binary
web/src/games/ninemensmorris/Field.css binary

