.Card {
  margin-top: 16px;
  white-space: nowrap;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.Title {
  padding: 16px 0;
}

.GameSelect {
  min-width: 200px;
}

.OccupancySelect {
  min-width: 160px;
}

.OccupancyWrapper {
  margin-top: 16px;
}

.buttonsContainer {
  display: flex;
  padding: 16px;
}

.buttonsSeparator {
  flex-grow: 1;
}

.Button {
  margin: '16px 0';
}