@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.Card {
  float: left;
  color: black;
  cursor: pointer;
  max-width: 65px;
  width: 20%;
	animation: bounceIn 1.5s;
}
