.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0.5rem;

    height: 400px;
    width: 500px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3px;
    border: 1px solid black;
}

.cardBlue {
    background-color: blue;
}

.cardRed {
    background-color: red;
}

.cardCivilian {
    background-color: beige;
}

.cardAssassin {
    background-color: dimgray;
}
