.main {
    background-color: var(--background-color);

    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 1024px;
    margin: 0 1rem;
    padding-bottom: 0.8rem;

    font-family: sans-serif;
}

.title {
    color: var(--gray);
}

.text {
    color: var(--gray);
}

.teamsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1fr;
    grid-gap: 0.8rem;

    width: 100%;
    max-width: 768px;
    height: 100%;
    max-height: 480px;

    text-align: center;
    color: var(--team-title--color);
}

.btn {
    color: white;
    border-radius: 3px;
    border: none;
    padding: 8px 16px;

    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 200ms ease-out;
}

.btn[disabled] {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: not-allowed;
}

.btn:not([disabled]):hover {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.team {
    border-radius: 4px;
    box-shadow: var(--box-shadow);
}

.team ul {
    text-align: left;
}

.team h3 {
    margin-bottom: 0.4em;
}

.teamBlue {
    background-color: var(--blue-team--background-color);
}

.teamBlue .btn {

}

.teamRed {
    background-color: var(--red-team--background-color);
}

.teamRed .btn {

}

.unassigned {
    grid-column: span 2;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--unassigned--background-color);
}

.btnSpymaster {
    margin-left: 0.5rem;
    padding: 4px 10px;
}

.btnStartGame {
    font-size: 1.5rem;
    font-weight: bold;
}
