.scoreTable td, th, table {
  border: 1px solid grey;
}

.scoreTable th {
  font-size: 35px;
}

.currentPlayerScore {
  background-color: goldenrod;
}

.scoreLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 16px;
  padding: 16px;
}

.midGameScore {
  text-color: white;
}

.endOfGameScore {
  text-color: black;
}
