.betPanel {
  padding: 20px;
}

.slider {
  width: 100px;
}

.button {
  padding: 10px;
  margin: 0 20px;
  cursor: pointer;
	position: relative;
	background: #e3e3e3;
  border-radius: .4em;
  color: #000;
  box-shadow: rgb(255, 197, 5) 0px 0px 10px;
  border: none;
}
