.board {
  padding-top: 10px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border: 1px solid rgb(63, 63, 63);
  background-color: #795f5e;
  background-image: url("../media/wood-pattern.png");
}