.playerZone .stack {
  display: inline-block;
  width: 80px;
}

.playerZone .revealedStack {
  display: inline-block;
}

.playerZone .statuses {
  text-align: left;
  height: 1.5em;
}

.playerOut {
  font-size: 50px;
  margin-top: 50px;
}