@keyframes _1xLN_sVMkGhcluLDKmhjij {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.hPKAN6neFNaXIYl6Cobl4 {
  float: left;
  color: black;
  cursor: pointer;
  max-width: 65px;
  width: 20%;
	animation: _1xLN_sVMkGhcluLDKmhjij 1.5s;
}

._2JNj01BsSxf5w8852TU0Cm {
  margin-left: 4px;
  border-radius: 5px;
  padding: 4px;
  float: left;
  border: 2px solid;
}

._2JNj01BsSxf5w8852TU0Cm .xOaxupaRCXBCBlZfQk2xW {
  padding-right: 8px;
}

._2JNj01BsSxf5w8852TU0Cm p {
  display: inline;
}

._2Z339MaE1_Efbc4g-TicgL {
  font-weight: bold;
}

._20PIlBsDQ5s9n2E_jgngot {
  transition: fill 0.5s;
  animation: _1ohriwsn1zR5654nOpWv0H 0.5s;
}

@keyframes _1ohriwsn1zR5654nOpWv0H {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

._3rC69tFWgeFwY13IBMP36V {
  transition: transform 0.5s;
  animation: _2_3ivpIutupq7rRWGS7u3F 0.5s;
}

._1KPJmvJ_CZ7hSCitAxaG0j {
  box-sizing: border-box;
  margin-top: 10px;
  padding: 0 10px;
}

@keyframes _2_3ivpIutupq7rRWGS7u3F {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.GtfxFj5dUuz-ADAY6LPyj {
  color: white;
  text-align: center;
}

._19bl1geSJcc8H5GYM3ULLL {
  text-align: center;
}

._19bl1geSJcc8H5GYM3ULLL * {
  color: white;
}

._19bl1geSJcc8H5GYM3ULLL ._1mtykFU3lUJmpW6cgPHXWk {
  color: red;
}

._3nY6_Va5_T3QEY1ODMSxXZ {
  width: 100%;
  min-width: 40px;
  max-width: 85px;
  
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  position: relative;
  
  background: no-repeat center / contain;
  
}

._3nY6_Va5_T3QEY1ODMSxXZ > img {
  width: 100%;
}

._3nY6_Va5_T3QEY1ODMSxXZ > span {
  position: absolute;
  
  top: 7%;
  right: 17%;
  font-size: 45px;
  line-height: 1;
  
  font-weight: bold;
  color: #572511;
}

/*
.green {
  background-image: url('./media/green.png');
}
.green_with {
  background-image: url('./media/green_with.png');
}

.gray {
  background-image: url('./media/gray.png');
}
.gray_with {
  background-image: url('./media/gray_with.png');
}

.brown {
  background-image: url('./media/brown.png');
}
.brown_with {
  background-image: url('./media/brown_with.png');
}

.yellow {
  background-image: url('./media/yellow.png');
}
.yellow_with {
  background-image: url('./media/yellow_with.png');
}

.blue {
  background-image: url('./media/blue.png');
}
.blue_with {
  background-image: url('./media/blue_with.png');
}

.empty {
  background-image: url('./media/empty.png');
}

.white {
  background-image: url('./media/white.png');
}

.deck {
  background-image: url('./media/deck.png');
} */
.BWlTWnJ-7yaHQnkvV9HAU {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(55px, 85px));
  min-width: 300px; */
  width: 100%;
  max-width: 450px;
  grid-template-columns: repeat(auto-fit, minmax(55px, 1fr));
  justify-content: center;
  gap: 5px;
  margin: 0 auto;
}

._2kaT3fVki4dizrXil1Xrum {
  max-width: 85px;
}

._1RgLTuFlABNxau836-tr5f {
  display: grid;
  grid-template-columns: repeat(auto-fill, 15px);
  justify-content: center;
  gap: 2.5px;
  margin-bottom: 2.5px;
}
._3p9_kZhOqidg0vySUNzpZK {
  text-align: center;
}

._24944LJHsD5c_BAfrvM7k {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 0.5rem;

  width: 100%;
  margin-bottom: 1rem;
}

._3ZS8uVm82EjfFqblem8cua {
  margin-left: 16px;
}

._2HzDXPWINzrCy7BdCmQ8Jm {
  display: flex;
  justify-content: center;
  align-items: center;

  /* vw - 2 * margin-l + margin-r - all grid-gap / card columns*/
  height: calc((100vw - 1.6rem - 2rem) / 5);
  max-height: 100px;
  padding: 0.2rem;

  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
  
  text-align: center;
  hyphens: auto;
  font-size: 14px;
  color: black;
  fill: #50514F;
  word-break: break-all;
  background-color: #f7f7f7;

  text-transform: capitalize;
  transition: box-shadow 200ms ease-out, transform 200ms ease-out;
}

._2HzDXPWINzrCy7BdCmQ8Jm:not(._25hBFLBE9yaepXVBlCZo-m):hover {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06);
  transform: scale(1.03);
  cursor: pointer;
}

.AOixNA6XrMhL7FLKpxdsV {
  display: inline;
  padding: 8px;
  border-radius: 3px;
  background-color: #F25F5C;
}

._1bqMQQznCyU-iPUoSweZf6 {
  display: inline;
  padding: 8px;
  background-color: #247BA0;
}

._3bPuWHuq7NetDE3TcdeRxP {
  background-color: #247BA0;
  fill: #fff;
}

._2R-ZUUvXPAT2jRFFMDu48W {
  background-color: #F25F5C;
  fill: #fff;
}

._3XlXG31aqsElL-0xuhPc0M {
  background-color: beige;
  fill: #50514F;
}

._1xyRsSVXRBqBWuuWW9M265 {
  background-color: #50514F;
  fill: #fff;
}

._1ZbBZgyvj-nNegq9habW_X {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

._3HDr4MMqN7ekcIpX1cvOUO {
  color: black;
  text-align: center;
}

._3_cQir5X9sQYGqnshzOruw {
  color: white;
  text-align: center;
}

.wdyJopky0wsbrxpKTq30A {
  color: white;
}

._3OJNDSc1FTrq6ynx9wHUji {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

._4wgePiUSiQfYfXZUZeL8b {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 1fr;
  grid-gap: 0.8rem;
  max-height: 480px;

  margin-bottom: 1em;

  text-align: center;
  color: white;
}

.pFXJk2JN5mGpa_b2xwE4d {
  position: relative;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}

.pFXJk2JN5mGpa_b2xwE4d ul {
  text-align: left;
  color: black;
}

.pFXJk2JN5mGpa_b2xwE4d h3 {
  margin-bottom: 0.4em;
}

._3KZFzGBNEL4CXKJ-0VUCCW {
  background-color: #247BA0;
}

._3aWq0aQEM87d8WpCi7wkE0 {
  background-color: #F25F5C;
}

._2kNu_GVlB2ixmfZQQPOZpe {
  position: absolute;
  margin: 8px;
  bottom: 0;
  right: 0;
}

._36ZlpcdCRNAarGthLt8SCD {
  grid-column: span 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #FFE066;
}

._36ZlpcdCRNAarGthLt8SCD h3 {
  color: black;
}


/*# sourceMappingURL=styles.chunk.css.map*/