.HotelGrid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
}

.Hotel {
  height: 6.25vw;
  width: 6.25vw;
  max-width: 6.25vh;
  max-height: 6.25vh;
  border-radius: 0.25em;
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
  border: 0.25em solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--mergers-color);
}

.Hotel.Empty {
  background-color: var(--mergers-light-grey);
  color: black;
}

.Hotel.InRack {
  background-color: var(--mergers-light-grey);
  border-color: var(--mergers-blue-grey);
  border-style: dashed;
  color: black;
}

.Hotel.InRack.Hover {
  cursor: pointer;
  background-color: var(--mergers-blue-grey);
}

.Hotel.Unclaimed {
  background-color: var(--mergers-blue-grey);
}

.Hotel.Removed {
  background-color: var(--mergers-light-grey);
  color: var(--mergers-blue-grey);
}

.Hotel.Tower {
  background-color: var(--chain-color-tower);
}

.Hotel.Luxor {
  background-color: var(--chain-color-luxor);
}

.Hotel.Festival {
  background-color: var(--chain-color-festival);
}

.Hotel.American {
  background-color: var(--chain-color-american);
}

.Hotel.Worldwide {
  background-color: var(--chain-color-worldwide);
}

.Hotel.Continental {
  background-color: var(--chain-color-continental);
}

.Hotel.Imperial {
  background-color: var(--chain-color-imperial);
}

.StarIcon {
  height: 1em;
  width: 1em;
  font-size: 1.25em;
}

.ClearIcon {
  height: 1em;
  width: 1em;
  font-size: 1.25em;
}

.GridLabel {
  line-height: 100%;
  text-align: center;
  box-sizing: border-box;
  font-size: 0.75em;
  color: var(--mergers-color);
}
