.StockLabel {
  height: 2em;
  width: 1.5em;
  margin-right: 0.25em;
  font-size: 1em;
  border-radius: 0.25em;
  border: 0.25em solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.StockLabel.Tower {
  background-color: var(--chain-color-tower);
}

.StockLabel.Luxor {
  background-color: var(--chain-color-luxor);
}

.StockLabel.Festival {
  background-color: var(--chain-color-festival);
}

.StockLabel.American {
  background-color: var(--chain-color-american);
}

.StockLabel.Worldwide {
  background-color: var(--chain-color-worldwide);
}

.StockLabel.Continental {
  background-color: var(--chain-color-continental);
}

.StockLabel.Imperial {
  background-color: var(--chain-color-imperial);
}

.StockLabel.Clickable {
  cursor: pointer;
}
