.board table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  color: #fff;
  text-align: center;
}

.board td {
  padding: 0.2em;
}

.board tr:first-child td {
  background-color: rgba(80, 80, 80, 0.5);
  font-weight: bold;
}

.showPreviousRounds {
  position: absolute;
  top: 1em; left: 50%;
  transform: translate(-50%, 0);
  z-index: 19;
  text-align: right;
}

.showPreviousRounds input {
  display: none;
}

.showPreviousRounds input + label {
  display: inline-block;
  margin-bottom: 0.2em;
  font-weight: bold;
  padding: 0 0.3em;
  line-height: 2em;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 1.1em;
}

.showPreviousRounds input + label + div {
  visibility: hidden;
}

.showPreviousRounds input + label:before {
  content: "« ";
}

.showPreviousRounds input:checked + label:before {
  content: "» ";
}

.showPreviousRounds input:checked + label + div {
  visibility: visible;
}

.previousRounds {
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  height: 7em;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

.previousRounds td {
  padding: 4px 1px;
  border: 0;
  width: 8em;
}

.previousRounds tr td:first-child:not([colspan]) {
  font-weight: bold;
  width: 1.5em;
}

.previousRounds table td:not(:first-child) {
  width: 5em;
  white-space: nowrap;
  overflow: hidden;
}

.previousRounds tr:hover:not(:first-child) td:not([colspan]),
.previousRounds tr.hover td {
  background-color: rgba(0, 0, 0, 0.1);
}

.scoreBoard {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0;
  font-size: 0.9em;
  overflow: hidden;
  overflow-x: auto;
}

.scoreBoard.toggleHover:hover {
  opacity: 0;
}

.scoreBoard table {
  min-width: 270px;
}

.scoreBoard table tr:first-child td:first-child {
  text-align: left;
  padding-left: 1em;
}

.scoreBoard table td:first-child {
  text-align: right;
  width: 110px;
}

.scoreBoard table td:not(:first-child) {
  width: 70px;
  overflow: hidden;
}

.scoreBoard table tr:first-child,
.scoreBoard table tr:nth-last-child(2) {
  font-weight: bold;
  font-size: 1.1em;
}

.scoreBoard table tr:nth-last-child(2) td {
  padding: 0.1em;
}
