.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  justify-content: center;
}

.button {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.button > svg {
  width: 32px;
  height: 32px;
  color: black;
}