 @media all and (max-width: 768px) {
  .MobileView {
      display: block;
  }
  .DesktopView {
      display: none;
  }
 }
 @media all and (min-width: 768px) {
  .MobileView {
      display: none;
  }
  .DesktopView {
      display: block;
  }
 }