.calledCard {
  position: absolute;
  top: 1em; left: 1em;
  width: 110px; height: 160px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 15px;
}

@media only screen and (max-width: 850px) {
  .calledCard {
    top: auto; bottom: -1em;
    left: 10px;
  }
  .calledCard .cardContainer {
    transform: translate(-50%, 0) scale(0.2) rotate(-90deg);
  }
}

.calledCard span:first-child {
  position: absolute;
  top: 3px; left:0; right: 0;
  text-align: center;
}

.calledCard .cardContainer {
  position: absolute;
  left: 50%; top: 25px;
  transform-origin: 0 0;
  transform: translate(-50%, 0) scale(0.2);
  width: 70px;
  box-shadow: rgb(0, 0, 0) 0px 0px 50px;
}
