.calledCard {
  position: absolute;
  top: 1em; left: 1em;
  width: 110px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 0.9em;
}

@media only screen and (max-width: 850px) {
  .calledCard {
    top: auto; bottom: -1em; left: 0.9em;
  }
}

.calledCard span:first-child {
  display: block;
  padding-top: 3px;
  text-align: center;
  white-space: nowrap;
}

.calledCard .arrangeCard {
  margin: 0.5em auto;
  width: 70px;
  box-shadow: rgb(0, 0, 0) 0px 0px 50px;
}

.calledCard .cropCard {
  height: 130px;
  width: 70px;
  overflow: hidden;
}

.calledCard .scaleCard {
  transform-origin: 0 0;
  transform: scale(0.22);
}
