.card {
  color: black;
  border: 1px #aaa solid;
  box-sizing: border-box;
  background-origin: border-box;
  background-color: white;
  background-repeat: no-repeat;
  margin: 0 auto;
  box-shadow: 3px 3px 8px #000000;
}

.card.inactive {
  filter: brightness(0.7);
}

.card.tarot {
  width: 320px;
  height: 596px;
  background-image: url("media/cards_tarot.jpg");
  background-size: 4480px 3576px;
  border-radius: 45px;
}

.card.skat {
  width: 314px;
  height: 483px;
  background-image: url("media/cards_skat.jpg");
  background-size: 2826px 1932px;
  border-radius: 25px;
}

.card.franconian {
  width: 320px;
  height: 596px;
  background-image: url("media/cards_franconian.jpg");
  background-size: 3200px 2384px;
  border-radius: 45px;
}

.cropCard {
  overflow: hidden;
}

.cropCard.selectable {
  cursor: pointer;
  box-shadow: 0px 10px 20px #555;
  background-color: rgba(80, 80, 80, 0.15);
}

.cropCard.selectable:hover {
  box-shadow: 0px 0px 40px #000;
  background-color: rgba(0, 0, 0, 0.3);
}

.scaleCard {
  transform-origin: 0 0;
}
