.card {
  color: black;
  box-sizing: border-box;
  background-origin: border-box;
  background-color: white;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.card.inactive {
  filter: brightness(0.7);
}

.card.tarot {
  background-image: url("./media/cards_tarot.jpg");
  background-size: 4480px 3576px;
}

.card.tarock {
  background-image: url("./media/cards_tarock.jpg");
  background-size: 1888px 2968px;
}

.card.skat {
  background-image: url("./media/cards_skat.jpg");
  background-size: 2826px 1932px;
}

.card.franconian {
  background-image: url("./media/cards_franconian.jpg");
  background-size: 3200px 2384px;
}

.cropCard {
  overflow: hidden;
  box-shadow: #000 0 0 0.8em;
  border: 0.2em #333 solid;
}

.cropCard.selectable {
  cursor: pointer;
  box-shadow: #555 0 0 2em;
  background-color: rgba(80, 80, 80, 0.15);
}

.cropCard.selectable:hover {
  box-shadow: #000 0px 0px 4em;
  background-color: rgba(0, 0, 0, 0.3);
}

.scaleCard {
  transform-origin: 0 0;
}
