.hand {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: hidden;
  overflow-x: auto;
  z-index: 10;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px 0 0;
  text-align: center;
  height: 100%;
  white-space: nowrap;
}

.hand.top {
  padding: 0;
  direction: rtl;
}

.hand .arrangeCard {
  display: inline-block;
  width: 34px;
  transform: translate(0, 1px);
}

.hand.top .arrangeCard {
  transform: rotate(180deg) translate(0, 190px);
}

.hand .arrangeCard.selected {
  transform: translate(0, -30px);
  background-color: rgba(0, 144, 0, 0.3);
  box-shadow: 0px 0px 40px #090;
}

.hand.top .arrangeCard.selected {
  transform: translate(0, 30px);
}
