.card {
  color: black;
  border: 3px #aaa solid;
  box-sizing: border-box;
  background-origin: border-box;
  background-color: white;
  height: 596px;
  width: 320px;
  background-repeat: no-repeat;
  background-size: 3200px 2384px;
  background-image: url("../media/cards_tiled.jpg");
  border-radius: 45px;
  margin: 0 auto;
  box-shadow: 3px 3px 8px #000000;
}

.card.inactive {
  filter: brightness(0.7);
}

.card.selectable.selected {
  transform: translate(0, -30px);
  box-shadow: 0px 0px 40px #090;
}

.card.selectable {
  cursor: pointer;
  box-shadow: 0px 10px 20px #555;
}

.card.selectable:not(.selected):hover {
  box-shadow: 0px 0px 40px #000;
}

