.board table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  color: #fff;
}

.board td {
  padding: 0.2em;
}

.board tr:first-child td {
  background-color: rgba(80, 80, 80, 0.5);
  font-weight: bold;
}

.showPreviousRounds {
  position: absolute;
  top: 15px; right: 15px; left: 15px;
  z-index: 2000;
}

.showPreviousRounds input {
  display: none;
}

.showPreviousRounds input + label {
  display: block;
  float: right;
  font-weight: bold;
  height: 30px;
  padding: 0 5px;
  line-height: 28px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 15px;
}

.showPreviousRounds input + label + div {
  display: none;
}

.showPreviousRounds input + label:before {
  content: "« ";
}

.showPreviousRounds input:checked + label:before {
  content: "» ";
}

.showPreviousRounds input:checked + label + div {
  display: block;
}

.previousRounds {
  float: right;
  font-size: 13px;
  line-height: 13px;
  height: 150px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  width: 50%;
}

.previousRounds td {
  padding: 4px 1px;
  border: 0;
  width: 80px;
}

.previousRounds tr td:first-child:not([colspan]) {
  font-weight: bold;
  width: 20px;
}

.previousRounds table td:not(:first-child) {
  width: 50px;
  white-space: nowrap;
  overflow: hidden;
}

.previousRounds tr:hover:not(:first-child) td:not([colspan]),
.previousRounds tr.hover td {
  background-color: rgba(0, 0, 0, 0.1);
}

.scoreBoard {
  float: right;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0;
  font-size: 10px;
  overflow: hidden;
  max-width: 500px;
  overflow-x: auto;
}

@media only screen and (max-width: 1100px) {
.scoreBoard {
  float: none;
  position: absolute;
  left: 50%; top: 100%;
  transform: translate(-50%, 5px);
  max-width: 470px;
  width: 80%;
}
}

.scoreBoard table {
  min-width: 270px;
}

.scoreBoard table tr:first-child td:first-child {
  text-align: left;
  padding-left: 1em;
}

.scoreBoard table td:first-child {
  text-align: right;
  width: 110px;
}

.scoreBoard table td:not(:first-child) {
  width: 70px;
  overflow: hidden;
}

.scoreBoard table tr:first-child,
.scoreBoard table tr:nth-last-child(2) {
  font-weight: bold;
  font-size: 15px;
}

.scoreBoard table tr:nth-last-child(2) td {
  padding: 0.1em;
}
