.header {
    color: var(--gray);
}

.header h1 {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0.5rem;

    width: 100%;
    margin-bottom: 1rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;

    /* vw - 2 * margin-l + margin-r - all grid-gap / card columns*/
    height: calc((100vw - 1.6rem - 2rem) / 5);
    max-height: 100px;
    padding: 0.2rem;

    border-radius: 3px;
    box-shadow: var(--box-shadow);

    color: #fff;
    fill: var(--gray);
    background-color: #f7f7f7;

    text-transform: capitalize;
    transition: box-shadow 200ms ease-out, transform 200ms ease-out;
}

.card:not(.cardRevealed):hover {
    box-shadow: var(--box-shadow-md);
    transform: scale(1.03);
    cursor: pointer;
}

.card svg {
    width: 100%;
    height: 100%;
}

.cardBlue {
    background-color: var(--blue-card--background-color);
    fill: #fff;
}

.cardRed {
    background-color: var(--red-card--background-color);
    fill: #fff;
}

.cardCivilian {
    background-color: var(--civilian-card--background-color);
    fill: var(--gray);
}

.cardAssassin {
    background-color: var(--assassin-card--background-color);
    fill: #fff;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.winners {
    font-family: sans-serif;
    color: #fff;
}
