.human{
  text-align: center;
  letter-spacing: 0.1em;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: white;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  letter-spacing: 0em;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}