.playerZonesContainer {
  position: relative;
  height: 450px;
  margin: 15px;
}

.playerZones {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 450px;
}

.centerDisplay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
