.prevTrick {
  position: absolute;
  top: 1em; right: 1em;
  width: 150px; height: 100px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 15px;
}

.prevTrick span:first-child {
  position: absolute;
  top: 3px; left:0; right: 0;
  text-align: center;
}

.prevTrick .prevCard {
  position: absolute;
  top: 50%; left: 50%;
  width: 40px; height: 18px;
  color: #000;
  border-radius: 2px;
  border: 2px transparent solid;
  background-color: rgba(255, 255, 255, 0.5);
}

.prevTrick .prevCard.emptyCard {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
}
