.prevTrick {
  position: absolute;
  top: 50px; right: 15px;
  width: 10em; height: 7em;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 15px;
  z-index: 5;
}

@media only screen and (max-width: 850px) {
  .prevTrick {
    top: auto; bottom: 0;
    right: 10px;
    font-size: 12px;
  }
}

.prevTrick span:first-child {
  position: absolute;
  top: 3px; left:0; right: 0;
  text-align: center;
}

.prevTrick .prevCard {
  position: absolute;
  top: 50%; left: 50%;
  width: 2.67em; height: 1.2em;
  color: #000;
  border-radius: 2px;
  border: 2px transparent solid;
  background-color: rgba(255, 255, 255, 0.5);
}

.p3.i1 { transform: translate(-50%, -50%) translate(0, 20px); }
.p3.i2 { transform: translate(-50%, -50%) translate(55%, -10px); }
.p3.i3 { transform: translate(-50%, -50%) translate(-55%, -10px); }
.p4.i1 { transform: translate(-50%, -50%) translate(0, 30px); }
.p4.i2 { transform: translate(-50%, -50%) translate(102%, 6px); }
.p4.i3 { transform: translate(-50%, -50%) translate(0, -16px); }
.p4.i4 { transform: translate(-50%, -50%) translate(-102%, 6px); }
.p5.i1 { transform: translate(-50%, -50%) translate(0, 30px); }
.p5.i2 { transform: translate(-50%, -50%) translate(104%, 13px); }
.p5.i3 { transform: translate(-50%, -50%) translate(55%, -12px); }
.p5.i4 { transform: translate(-50%, -50%) translate(-55%, -12px); }
.p5.i5 { transform: translate(-50%, -50%) translate(-104%, 13px); }

.prevTrick .prevCard.emptyCard {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
}
