.trick {
  position: absolute;
  height: 200px;
  width: 100px;
  left: 50%; top: 50%;
  transform: translate(-50%,-50%);
}

.cardContainer {
  transform-origin: 0 0;
  transform: scale(0.3);
  float: left;
  width: 0;
}

@keyframes vanish {
  0% {transform: translate(-50%,-50%) scale(1.0);}
  66% {transform: translate(-50%,-50%) scale(1.0);}
  100% {transform: translate(-50%, -50%) scale(0.0);}
}

.trick.full {
  animation: vanish 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  transform: scale(0);
}
