.div{
    font-size: 20px;
    box-sizing: border-box;
}

.header {
  border: 1px solid red;
  padding: 15px;
}

.middle {

  border: 1px solid green;
  padding: 15px;
}

.bottom {
  border: 1px solid blue;
  padding: 15px;
}


.tooltip {
  position: relative;
  border-bottom: 1px dotted black;
  display: inline;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 240px;
  background-color: white;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  letter-spacing: 0em;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}