.div{
    font-size: 20px;
    box-sizing: border-box;
}

.header {
  border: 1px solid red;
  padding: 15px;
}

.middle {

  border: 1px solid green;
  padding: 15px;
}

.bottom {
  border: 1px solid blue;
  padding: 15px;
}