.grid {
    min-height: 400px;
    max-height: 400px;
    min-width: 700px;
    max-width: 700px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "ohand ohand oplay oplay"
        "crib deck . ."
        "pplay pplay phand phand";

    background-color: rgb(29, 90, 29);
}

.gridmine {
    min-height: 400px;
    max-height: 400px;
    min-width: 700px;
    max-width: 700px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px 1fr 100px 100px;
    grid-template-areas:
        "oplay oplay ohand ohand"
        "cboard cboard cboard cboard"
        "crib crib deck arr"
        "pplay pplay phand phand";

    background-color: rgb(29, 90, 29);
}

.gridtheirs {
    min-height: 400px;
    max-height: 400px;
    min-width: 700px;
    max-width: 700px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px 100px 1fr 100px;
    grid-template-areas:
        "oplay oplay ohand ohand"
        "crib crib deck arr"
        "cboard cboard cboard cboard"
        "pplay pplay phand phand";

    background-color: rgb(29, 90, 29);
}


.opponent_hand {
    min-width: 50%;
    min-height: 100px;
    background-color: rgb(29, 90, 29);
    grid-area: ohand;

}

.opponent {
    min-width: 50%;
    min-height: 100px;
    background-color: rgb(29, 90, 29);
    grid-area: oplay
}

.player {
    min-width: 50%;
    min-height: 120px;
    background-color: rgb(29, 90, 29);
    grid-area: pplay;

}

.player_hand {
    min-width: 50%;
    min-height: 120px;
    background-color: rgb(29, 90, 29);
    grid-area: phand;

}

.crib {
    min-width: 50%;
    min-height: 120px;
    background-color: rgb(29, 90, 29);
    grid-area: crib;
    justify-content: space-around;

}

.deck {
    min-width: 25%;
    min-height: 120px;
    background-color: rgb(29, 90, 29);
    grid-area: deck;

}

.cribbageboardbutton {
    justify-content: space-around;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-area: cboard;
    min-width: 40px;
    min-height: 40px;
    max-height: 40px;
    background-color: rgb(144, 143, 99);
    color: brown;
}

.gamestate {
    font-family: 'Arial';
    font-size: medium;
    margin: auto;
    justify-content: center;
    color: brown;
}

.scorewhite {
    margin: auto;
    font-family: 'Arial';
    font-size: x-large;
    color: white;
}

.scorered {
    margin: auto;
    font-family: 'Arial';
    font-size: x-large;
    color: lightsalmon;
}