  .grid {
    min-height:500px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      ". ohand ohand ohand"
      "oplay oplay oplay ."
      "deck . cboard cboard" 
      "crib . cboard cboard"
      "pplay pplay pplay ."
      ". phand phand phand";
  }


 .opponent_hand {
      min-width: 50%;
      background-color: rgb(100, 66, 128);
      grid-area: ohand;

  }

  .opponent {
    min-width: 50%;
    background-color: aqua;
    grid-area: oplay

}

.player {
    min-width: 50%;
    background-color: rgb(56, 19, 22);
    grid-area: pplay;

}

.player_hand {
    min-width: 50%;
    background-color: rgb(255, 123, 0);
    grid-area: phand;

}

.crib {
    min-width: 1fr;
    background-color: rgb(51, 121, 57);
    grid-area: crib;

}

.deck {
    min-width: 1fr;
    background-color: rgb(255, 123, 0);
    grid-area: deck;

}

.cboard {
    width:2fr;
    min-width: 2fr;
    background-color: rgb(255, 123, 0);
    grid-area: cboard;

}