    .cardcontainer {
      min-width: 200px;
      min-height: 25%;
      display: 'inline-grid';
      justify-content: 'center';
      overflow: 'visible';
      background-color: rgb(29, 90, 29);
    }

    .grid {
      display: inline-grid;
      grid-template-columns: repeat(6, 14%);
    }
