.wrapper {
  position: relative;
}

.carousel {
  overflow: hidden;
  display: flex; 
  flex-wrap: nowrap;
}

.leftButton {
  position: absolute !important;
  left: -28px;
  top: 50%;
  transform: translate(0, -50%);
}

.rightButton {
  position: absolute !important;
  right: -28px;
  top: 50%;
  transform: translate(0, -50%);
}