<<<<<<< HEAD
.slider {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

.button {
  position: relative;
=======
.bidPanel {
  background-color: green;
}

.betting {
  background-color: blue;
>>>>>>> upstream/master
}
