.Card {
  color: black;
  border: 20px #eee solid;
  box-sizing: border-box;
  background-origin: border-box;
  background-color: white;
  cursor: pointer;
  height: 583px;
  width: 406px;
  background-size: 4096px;
  background-position: 0px 0px;
  border-radius: 34px;
  margin: 0 auto;
  box-shadow: 3px 3px 8px #000000;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.Card.Selected {
  margin-top: -160px;
  box-shadow: 0px 0px 50px rgb(251, 255, 0);
}

.Card.Selectable:hover {
  animation: pulse 1s;
  animation-iteration-count: infinite;
}

.EmptyCard {
  border-image-source: url('http://i.stack.imgur.com/wLdVc.png');
  border-image-width: 1;
  border-image-slice: 2;
  border-image-repeat: round;
  box-shadow: none;
  background: none;
}

.FaceDownCard {
  border: none;
  background-color: #888;
}

.BunnyCard {
  background-color: rgb(98, 138, 72);
}

.BombCard {
  background-color: rgb(192, 44, 44);
}

.BunnyCard.hidden {
  animation: none;
}

.BombCard.hidden {
  animation: none;
  border: 20px rgb(44, 120, 192) solid;
}

.CardSVG {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;
}

.BunnyCardSVGOutline {
  fill: rgb(255, 232, 111);
}

.BunnyCardSVGBackground {
  fill: rgb(255, 232, 111);
}

.BombCardSVGOutline {
  fill: rgb(133, 133, 133);
}

.BombCardSVGBackground {
  fill: rgb(44, 120, 192);
}

.main {
  fill: rgb(195, 195, 195);
}
.ears {
  fill: rgb(246, 224, 233);
}
.eyes {
  fill: rgb(50, 50, 50);
}
.nose {
  stroke: rgb(170, 95, 126);
  fill: transparent;
  stroke-width: 1;
}
