.playerZone .stack {
  display: inline-block;
  width: 80px;
}

.playerZone .revealedStack {
  display: inline-block;
}
<<<<<<< HEAD

.playerZone .statuses {
  text-align: left;
}
=======
>>>>>>> upstream/master
