.playerZonesContainer {
  height: 500px;
  width: 500px;
  position: relative;
  display: inline-block;
}

.playerZones {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.zone {
  position: absolute;
<<<<<<< HEAD
  width: 300px;
}

.centerDisplay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
=======
  width: 200px;
>>>>>>> upstream/master
}
