.playerZonesContainer {
  height: 1000px;
  width: 1000px;
  position: relative;
}

.playerZones {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.zone {
  position: absolute;
  width: 200px;
}
