.board {
    padding-top:10px;
    border-radius: 20px;
    background-image: url(./media/wood.jpg);
}

.statusBar {
    background-color: #666;
    padding: 0.2em;
}

.statusBar:after {
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
}