button {
    width: 3em;
    background-color: rgb(157, 255, 0);
    border-radius: 0.5em;
    padding: 0.2em;
    line-height: 20px;
    color: black;
    font-size: 20px;
}

@keyframes flash {
    0% {
        background-color: rgb(200, 255, 0);
    }
    50% {
        background-color: rgb(251, 255, 100);
    }
    100% {
        background-color: rgb(200, 255, 0);
    }
  }

button:hover {
    animation: flash 1s infinite;
}

button.disabled {
    background-color: #999;
    color: #CCC;
}

button.disabled:hover {
    animation: none;
}