.original.MoneyCard {
    background-image: url(./media/card_front_money.jpg);
  }
  
  .original.PropertyCard {
    border: 20px #EEE solid;
    background-image: url(./media/card_front_property.jpg);
  }
  
  .original.CardFront_1 {
    background-position: 0px 0px;
  }
  
  .original.CardFront_2 {
    background-position: 3686px 0px;
  }
  
  .original.CardFront_3 {
    background-position: 3280px 0px;
  }
  
  .original.CardFront_4 {
    background-position: 2870px 0px;
  }
  
  .original.CardFront_5 {
    background-position: 2456px 0px;
  }
  
  .original.CardFront_6 {
    background-position: 2048px 0px;
  }
  
  .original.CardFront_7 {
    background-position: 1640px 0px;
  }
  
  .original.CardFront_8 {
    background-position: 1230px 0px;
  }
  
  .original.CardFront_9 {
    background-position: 820px 0px;
  }
  
  .original.CardFront_10 {
    background-position: 407px 0px;
  }
  
  .original.CardFront_11 {
    background-position: 0px -583px;
  }
  
  .original.CardFront_12 {
    background-position: 3686px -583px;
  }
  
  .original.CardFront_13 {
    background-position: 3280px -583px;
  }
  
  .original.CardFront_14 {
    background-position: 2872px -583px;
  }
  
  .original.CardFront_15 {
    background-position: 2456px -583px;
  }
  
  .original.CardFront_16 {
    background-position: 2048px -583px;
  }
  
  .original.CardFront_17 {
    background-position: 1640px -583px;
  }
  
  .original.CardFront_18 {
    background-position: 1230px -583px;
  }
  
  .original.CardFront_19 {
    background-position: 820px -583px;
  }
  
  .original.CardFront_20 {
    background-position: 407px -583px;
  }
  
  .original.CardFront_21 {
    background-position: 0px -1166px;
  }
  
  .original.CardFront_22 {
    background-position: 3686px -1166px;
  }
  
  .original.CardFront_23 {
    background-position: 3280px -1166px;
  }
  
  .original.CardFront_24 {
    background-position: 2870px -1166px;
  }
  
  .original.CardFront_25 {
    background-position: 2456px -1166px;
  }
  
  .original.CardFront_26 {
    background-position: 2048px -1166px;
  }
  
  .original.CardFront_27 {
    background-position: 1640px -1166px;
  }
  
  .original.CardFront_28 {
    background-position: 1230px -1166px;
  }
  
  .original.CardFront_29 {
    background-position: 820px -1166px;
  }
  
  .original.CardFront_30 {
    background-position: 407px -1166px;
  }
  
  .original.MoneyCard.hidden {
    animation: none;
    border: 20px rgb(98, 138, 72) solid;
    background-image: url(./media/card_back_money.jpg);
    background-size: 100%;
  }
  
  .original.PropertyCard.hidden {
    animation: none;
    border: 20px rgb(44, 120, 192) solid;
    background-image: url(./media/card_back_property.jpg);
    background-size: 100%;
  }