.deck  {
    left: 0%;
    text-align: center;
    width: 100px;
    overflow: hidden;
}

.deck .cardContainer {
    position: absolute;
    width: 100px;
    text-align: center;
    transform-origin: 0 0;
    transform: scale(0.2);
    padding: 0;
}

.deck .cardCountContainer {
    position: absolute;
    transform: translate(5px, 116px);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 0px 0px 5px 5px;
    height: 22px;
}

.deck .cardCountContainer .title {
    text-align: left;
    float: left;
    width: 40px;
    color: white;
    font-size: 8px;
    line-height: 10px;
}

.deck .cardCountContainer .roundsRemaining {
    float: right;
    text-align: center;
    color: white;
    padding: 2px;
    font-size: 14px;
    border-radius: 10px;
    width:16px;
    background-color: rgba(0, 0, 0, 0.445);
}