.deck  {
    left: 0%;
    text-align: center;
    width: 100px;
    overflow: hidden;
}

.deck .cardContainer {
    position: absolute;
    width: 100px;
    text-align: center;
    transform-origin: 0 0;
    transform: scale(0.2);
    padding: 0;
}

.deck .cardCountContainer {
    position: absolute;
    transform: translate(5px, -30px);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 5px 5px 0px 0px;
    height: 20px;
}

.deck .cardCountContainer .title {
    color: white;
    font-size: 8px;
}

.deck .cardCountContainer .roundsRemaining {
    color: white;
    font-size: 12px;
}