.scoreboard {
    border-radius: 20px;
    padding: 20px 0px;
    background-image: url(./media/wood.jpg);
    box-shadow: 0px 0px 8px #66431b;
}

.scoreboard th {
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 1.2em;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.scoreboard td {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.row0 .rank {
    background-image: url(./media/medal-icon.png);
    background-size: 30px 30px;
    background-position: 0px 10px;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.me {
    background-color: rgba(255, 102, 0, 0.288);
}