@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.Card {
  animation: bounceIn 1.5s;
  float: left;
  color: black;
  cursor: pointer;
  margin-right: 5px;
}
