name: Deploy to GitHub page
on:
  push:
    branches:
    - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-node@v1
      with:
        node-version: 16.x
    - uses: actions/checkout@v2
    - run: cd v2 && yarn install
    - run: cd v2/fbg-web && yarn run build
    - name: Pushes to github page repository
      id: push_directory
      uses: cpina/github-action-push-to-another-repository@ssh-deploy-key
      env:
        SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
      with:
        source-directory: v2/fbg-web/out/
        destination-github-username: 'freeboardgames'
        destination-repository-name: 'v2.freeboardgames.org'
        user-email: robot@FreeBoardGames.org
        commit-message: See ORIGIN_COMMIT from $GITHUB_REF
        target-branch: main
